:root {
    --page-max-width: 1260px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px;
}
:root {
    --brand: #7289da;
    --brand-gradient: linear-gradient(90deg,#8ea1e1,#7289da);
    --greyple: #99aab5;
    --dark-not-black: #2c2f33;
    --focus-border: #00b0f4;
    --status-green: #43b581;
    --text-link: #00b0f4;
    --off-white: #f6f6f6;
    --white: #fff;
    --not-quite-black: #23272a;
    --not-quite-black-rgb: 35,39,42;
    --black: #000;
    --ekko-red: #de2761;
    --page-max-width: 1260px;
    --num-grid-columns: 4;
    --page-gutter: 24px;
    --section-spacing: 56px;
}
.pagebg {
    background-color: var(--not-quite-black);
}
.mhimage {
    grid-column: 7/span 6;
}
.h1txt {
    font-weight: 700;
    line-height: 120%;
    font-size: 56px;
}
.buttons1 {
    border-radius: 28px;
    margin-right: 24px;
    width: auto;
    font-size: 20px;
    padding: 16px 32px;
    background-color: #7289da;
    background-color: var(--brand);
    color: #fff;
    line-height: 24px;
    border: none;
}
.bg
.librand{
    color: var(--brand);
}
.boxdown {
    grid-column: span 6;
}
#accordionExample {
    padding-top: 20px;
    color: #fff;
}
.accordion-body {
    background-color: #1d1f23;
}
.accordion-button.collapsed {
    background-color: #1d1f23;
    color: #fff;
}
.accordion-button:not(.collapsed) {
    background-color: #1f2225 !important;
    color: #fff !important;
    
}
.downbut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: left;
    margin-top: 35px;
}
.grapbox {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(var(--num-grid-columns),1fr);
    gap: 0 20px;
    padding: 0 24px;
    padding-top: 56px;
    padding-top: var(--section-spacing);
    padding-bottom: 56px;
    padding-bottom: var(--section-spacing);
}
.altmetin{
    color: #fff;
    grid-column: span 6;
}
.textmetin {
    font-size: 24px;
    line-height: 140%;
}
.logo {
    text-align: left;
    display: block;
    margin-bottom: 80px;
}
.bgrow{
    margin: 0 !important;
    padding: 0 !important; 
    background-color: #191b1e!important;
}
body {
    margin: 0 !important;
    text-rendering: optimizeLegibility;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif !important;
}
.nav-item :hover {
    text-decoration: underline;
}
.nav-item :active {
    background: #1d1f23;
}
.imgwidths{
    max-width: 100%;
}
.bgcard {
    background: #23272b !important;
    color: #fff !important
}
.foterlibrand{
    text-align: center;
    padding: 25px 0px;
    background: #191b1e;
    color: #fff;
    margin-top: 15px;
}
.img-thumbnail {
    background-color: #1f2226 !important;
    border: 1px solid #23272b !important;
}
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #1d1f23!important
}
.sidebar {
    border-right: 1px solid #000000;
}
.sidebarborder {
    border-left: 1px solid #292929;
    width: calc(100% - 17.6666666667%) !important;
    margin-left: 16.6666666667%;
    position: absolute;
    display: block;
}
.bgnav {
    background-color: #1d1f23!important;
}
.btnwid {
    width: 400px !important;
}
.boxs {
    background: #000000f7;
    padding: 4px;
    border-radius: 4px;
    color: #d4d4d4;
}
.row {
  --bs-gutter-x: 0 !important;
  max-width: 1260px;
  max-width: var(--page-max-width) !important;
  margin: 0 auto !important;
  padding-top: 15px;
}
.nav {
    line-height: 50px;
    display: inline-flex !important;
    float: right;
}

.carousel-item {
    padding-left: 10px;
}
    
.downloadarea {
    text-align: center;
}
.text-dangerx {
    color: #bd1727!important;
    font-weight: bold;
    font-size: 22px;
    padding: 20px 0px;
}
.downloads {
    width: 400px;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
    margin: 50px 0px 0px;
}
.sidebarads{
margin: 15px 0;
}
.contentads{
text-align: center;
margin: 20px;
}
a {
    color: var(--white) !important;
}