.pagebg {
    background-color: #212529;
}
.logo {
    text-align: left;
    display: block;
}
.borderblack {
    border-top: 1px solid #23272b;
    border-bottom: 1px solid #0c0c0c;
}
.bgrow{
    margin: 0 !important;
    padding: 0 !important;    
}
body {
    margin: 0 !important;
}
.nav-item :hover {
    background: #0a58ca;
    color: #fff;
}
.imgwidths{
    max-width: 100%;
}
.bgcard {
    background: #23272b !important;
    color: #fff !important
}
.img-thumbnail {
    background-color: #1f2226 !important;
    border: 1px solid #23272b !important;
}
.bd-example {
    padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #1d1f23!important
}
.sidebar {
    border-right: 1px solid #000000;
}
.sidebarborder {
    border-left: 1px solid #292929;
    width: calc(100% - 17.6666666667%) !important;
    margin-left: 16.6666666667%;
    position: absolute;
    display: block;
}
.bgnav {
    background-color: #1d1f23!important;
}
.btnwid {
    width: 400px !important;
}
.boxs {
    background: #000000f7;
    padding: 4px;
    border-radius: 4px;
    color: #d4d4d4;
}
.row {
  --bs-gutter-x: 0 !important;
}

.carousel-item {
    padding-left: 10px;
}
    
.downloadarea {
    text-align: center;
}
.text-dangerx {
    color: #bd1727!important;
    font-weight: bold;
    font-size: 22px;
    padding: 20px 0px;
}
.downloads {
    width: 400px;
    font-size: larger;
    font-family: cursive;
    font-weight: bold;
    margin: 50px 0px 0px;
}
.sidebarads{
margin: 15px 0;
}
.contentads{
text-align: center;
margin: 20px;
}
